.Skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 85vh;
  overflow: hidden;
}

.Skills .skills-title {
  position: fixed;
  font-family: Monoton;
  font-size: 5em;
  top: 0px;
  color: #fff;
  margin-top: 10vh;
}

.Skills .skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 70vh;
  margin-top: 20vh;
}

.Skills .skills-container .progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
}

.Skills .skills-container .progress .title-progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85%;
  height: 87px;
  margin-bottom: 0.3em;
  padding-left: 5%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.Skills .skills-container .progress .title-progress .icons-skills:hover {
  color: #01D7B7;
}

.Skills .skills-container .progress .title-progress:hover {
  cursor: pointer;
  color: #01D7B7;
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

@media (max-width: 1200px) {
  .Skills .skills-title {
    margin-top: 10%;
    font-size: 4.5em;
  }
}

@media (max-width: 900px) {
  .Skills .skills-title {
    font-size: 3em;
    margin-top: 17vh;
  }
}

@media (max-width: 500px) {
  .Skills .skills-title {
    position: absolute;
    font-size: 2em;
    margin-top: 12vh;
  }
  .Skills .skills-container {
    width: 90%;
    height: 60vh;
    margin-top: 10vh;
  }
  .Skills .skills-container .progress {
    width: 30%;
  }
}

@media (max-width: 400px) {
  .Skills .skills-title {
    font-size: 1.9em;
  }
}
/*# sourceMappingURL=Skills.css.map */