.Skills{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 85vh;
}

.skills-title{
    position: fixed;
    font-family: Monoton;
    font-size: 5em;
    top: 0px;
    color: #fff;
    margin-top: 10vh;
}

.skills-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 50vh;
    // border: 1px solid #fff;
    margin-top: 20vh;
    .progress{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        .progress-bar{
            width: 85%;
            height: 3vh;
            border: 1px solid #00AF95;
            border-radius: 10px;
            .html-progress{
                width: 95%;
                height: 100%;
                background-color: #01D7B7;
                border-radius: 9px;
            }
            .css-progress{
                width: 90%;
                height: 100%;
                background-color: #01D7B7;
                border-radius: 9px;
            }
            .js-progress{
                width: 87%;
                height: 100%;
                background-color: #01D7B7;
                border-radius: 9px;
            }
            .react-progress{
                width: 85%;
                height: 100%;
                background-color: #01D7B7;
                border-radius: 9px;
            }
            .node-progress{
                width: 75%;
                height: 100%;
                background-color: #01D7B7;
                border-radius: 9px;
            }
            .post-progress{
                width: 67%;
                height: 100%;
                background-color: #01D7B7;
                border-radius: 9px;
            }
        }
        .title-progress{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            width: 85%;
            margin-bottom: 0.3em;
            padding-left: 5%;
        }
    }
}

@media (max-width: 800px){
    .skills-title{
        font-size: 3em;
        margin-top: 17vh;
    }
}

@media (max-width: 500px){
    .skills-title{
        font-size: 2em;
        margin-top: 20vh;
    }
}

@media (max-width: 330px){
    .skills-title{
        font-size: 1.7em;
        margin-top: 20vh;
    }
    .html-progress{
        font-size: 0.8em;
    }
    .css-progress{
        font-size: 0.8em;
    }
    .js-progress{
        font-size: 0.8em;
    }
    .react-progress{
        font-size: 0.8em;
    }
    .node-progress{
        font-size: 0.8em;
    }
    .post-progress{
        font-size: 0.8em;
    }
}