.Skills{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 85vh;
    overflow: hidden;
    .skills-title{
        position: fixed;
        font-family: Monoton;
        font-size: 5em;
        top: 0px;
        color: #fff;
        margin-top: 10vh;
    }
    .skills-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        height: 70vh;
        // border: 1px solid #fff;
        margin-top: 20vh;
        .progress{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
            align-items: center;
            width: 25%;
            .title-progress{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                width: 85%;
                height: 87px;
                margin-bottom: 0.3em;
                padding-left: 5%;
                transition: 0.4s;
                .icons-skills:hover{
                    color: #01D7B7;
                }
            }
            .title-progress:hover{
                cursor: pointer;
                color: #01D7B7;
                transform: scale(1.05, 1.05);
            }
        }
    }
}




@media (max-width: 1200px){
    .Skills{
        .skills-title{
            margin-top: 10%;
            font-size: 4.5em;
        }
    }
}
@media (max-width: 900px){
    .Skills{
        .skills-title{
            font-size: 3em;
            margin-top: 17vh;
        }
    }
}

@media (max-width: 500px){
    .Skills{
        .skills-title{
            position: absolute;
            font-size: 2em;
            margin-top: 12vh;
        }
        .skills-container{
            width: 90%;
            height: 60vh;
            margin-top: 10vh;
            .progress{
                width: 30%;
            }
        }
    }
}

@media (max-width: 400px){
    .Skills{
        .skills-title{
            font-size: 1.9em;
        }
    }
}