.About{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 85vh;
    z-index: 1;
    color: #000;
    overflow: hidden;
}

.about-title{
    color: #01D7B7;
    font-size: 1.6em;
    /* margin-top: 3em; */
    font-weight: 600;
    text-shadow: 2px 2px 10px #000;
}

.acerca-img{
    position: fixed;
    top: 0px; 
    bottom: 0px;
    left: 0px;
    right: 0px;
    font-family: Monoton;
    font-size: 5em;
    color: #fff;
    margin-top: 10vh;
    z-index: -1;
}

.container-code{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    height: 80vh;
    margin-top: 6em;
    margin-right: 1em;
}

.code{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 45%;
    height: 65%;
    background-color: #8D8D8D;
    border: 1px solid #6A6A6A;
    border-radius: 3px;
    box-shadow: 3px 3px  10px 1px #000;
    margin-top: 3em;
}

.code-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 10%;
    border-bottom: 1px solid #6A6A6A;
}

.circle-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 10%;
    height: 100%;
    margin-left: 1em;
}

.circle-red{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    background-color: #E53C3C;
    font-size: 0.8em;
    font-weight: 600;
    color: transparent;
}

.circle-yellow{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    background-color: #FCC721;
    font-size: 0.8em;
    font-weight: 600;
    color: transparent;
}

.circle-green{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    background-color: #4DB53B;
    font-size: 0.8em;
    font-weight: 600;
    color: transparent;
}

.circle-red:hover{
    color: #000;
    cursor: pointer;
    transition: 0.4s;
}

.circle-yellow:hover{
    color: #000;
    cursor: pointer;
    transition: 0.4s;
}

.circle-green:hover{
    color: #000;
    cursor: pointer;
    transition: 0.4s;
}

.about-description{
    color: #fff;
    text-align: left;
    margin-top: 3em;
    padding: 0 1em;
}

.marco-exterior{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 23%;
    height: 65%;
    background-color: #f1f1f1;
    border: 1px solid #C4C4C4;
    box-shadow: 3px 3px  10px 1px #000;
    margin-top: 5em;
    margin-left: -2em;
    transform: rotate(8deg);
    
}

.marco-interior{
    width: 78%;
    height: 80%;
    border: 2px solid #C4C4C4;
    margin-top: 7.5%;
}

.foto-about{
    width: 100%;
    height: 100%;
}

.cinta{
    position: absolute;
    width: 10em;
    height: 5em;
    transform: rotate(90deg);
    margin-left: -100%;
    margin-top: -8%;
}

.cinta-dos{
    position: absolute;
    width: 10em;
    height: 5em;
    margin-top: -8%;
    margin-left: 100%;
}

.up-arrow{
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 4em;
    height: 4em;
    margin-right: 3em;
    margin-bottom: 1em;
    color: hsl(0, 0%, 28%);
    transition: 0.3s;
}

.up-arrow:hover{
    color: #FFC600;
    transform: scale(1.1, 1.1);
}






/* MEDIA QUERYS ABOUT */

@media (max-width: 1100px){
    .marco-exterior{
        width: 25%;
        height: 45vh;
    }
    .circle-container{
        width: 13%;
    }
}

@media (max-width: 950px){
    .marco-exterior{
       display: none;
    }
    .up-arrow{
        position: fixed;
        color: #fff;
    }
    .container-code{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .code{
        width: 70%;
    }
    .circle-container{
        width: 10%;
    }
}

@media (max-width: 750px){
    .acerca-img{
        font-size: 4em;
        margin-top: 15%;
    }
    .circle-container{
        width: 15%;
    }
}

@media (max-width: 600px) {
    .acerca-img{
        font-size: 3em;
        margin-top: 20%;
    }
}

@media (max-width: 500px){
    .about-description{
        margin-top: 5%;
    }
    .acerca-img{
        margin-top: 30%;
        font-size: 2.5em;
    }
    .code{
        width: 90%;
        margin-left: 1em;
    }
}

@media (max-width: 400px){
    .acerca-img{
        margin-top: 27%;
    }
    .container-code{
        margin-top: 4em;
        font-size: 0.9em;
    }
    .up-arrow{
        margin-right: 1em ;
    }
}

@media (max-width: 350px){
    .acerca-img{
        font-size: 2em;
    }
}