
.BurgerMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100%;
    .Links-header{
        display: none;
    }
    .close-menu{
        display: none;
    }
    .bars-menu{
        width: 3em;
        height: 3em;
    }
    .bars-menu:hover{
        cursor: pointer;
        color: #fff;
        transform: scale(1.1, 1.3);
        transition: 0.3s;
    }
    .bars-menu:active{
        color: #fff;
        transform: scale3d(1, 0.2, 1);
        transition: 0.4s;
    }
}

@keyframes down {
    0%{
      transform: translateY(-100vh);
    }
    10%{
        transform: translateY(-100vh);
    }
    30%{
        transform: translateY(-100vh);
    }
    40%{
        transform: translateY(-70vh);
    }
    50%{
      transform: translateY(-60vh);
    }
    60%{
      transform: translateY(-50vh);
    }
    70%{
      transform: translateY(-40vh);
    }
    80%{
      transform: translateY(-30vh);
    }
    90%{
      transform: translateY(-15vh);
    }
    100%{
      transform: translateY(0vh);
    }
  }



.menu-extended{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(160deg, rgba(10,22,43,1) 0%, rgba(24,9,46,1) 100%, rgba(26,247,170,1) 100%);
    z-index: 100;
    animation: down 0.5s;
    overflow: hidden;
    .bars-menu{
        display: none;
    }
    .close-menu{
        width: 8%;
        height: 8%;
        position: absolute;
        top: 0;
        right: 0;
        margin: 1.2em 1.8em 0 0;
    }
    .close-menu:hover{
        cursor: pointer;
        color: #fff;
        transform: scale(1.1, 1.2);
        transition: 0.3s;
    }
    .close-menu:active{
        color: #fff;
        transform: scale(0.3, 0.3);
        transition: 0.8s;
    }

    .Links-header{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center; 
        width: 50%;
        height: 70vh;
        text-decoration: none;
        list-style: none;
        margin-right: -5%;
        font-size: 1.4em;
        text-align: left;
        .Link{
            text-decoration: none;
            list-style: none;
            color: #fff;
            transition: 0.5s;
            width: 90%;
            font-size: 1em;
            transition: 0.2s;
            margin-left: 17em;
        }
        .inicio-bckg{
            display: none;
            position: absolute;
            height: 15vh;    
        }
        .acerca-bckg{
            display: none;
            position: absolute;
            height: 15vh;
        }
        .habilidades-bckg{
            display: none;
            position: absolute;
            height: 15vh;
        }
        .proyectos-bckg{
            display: none;
            position: absolute;
            height: 15vh;
        }
        .contacto-bckg{
            display: none;
            position: absolute;
            height: 15vh;
        }
        .Link:hover{
            color: #fff;
            cursor: pointer;
            transform: scale(1.2, 1.2);
            transition: 0.1s ;  
        }
        .Link:hover + .inicio-bckg{
            display: block;
            margin-left: 35vw;
            margin-top: 37vh;
            position: absolute;
            top: 0px;
            bottom: 0px;
            right: 0px;
            left: 0px;
            opacity: 0.2;
            z-index: -200;
            font-family: Monoton;
            color: #fff;
            font-size: 5em;
            box-sizing:inherit;
            display: block;
            color: #01D7B7;
        }
        .Link:hover + .acerca-bckg{
            display: block;
            margin-left: 15vw;
            margin-top: 37vh;
            position: absolute;
            top: 0px;
            bottom: 0px;
            right: 0px;
            left: 0px;
            opacity: 0.2;
            z-index: -200;
            font-family: Monoton;
            color: #fff;
            font-size: 5em;
            box-sizing:inherit;
            display: block;
            color: #01D7B7;
        }
        .Link:hover + .habilidades-bckg{
            display: block;
            margin-left: 15vw;
            margin-top: 37vh;
            position: absolute;
            top: 0px;
            bottom: 0px;
            right: 0px;
            left: 0px;
            opacity: 0.2;
            z-index: -200;
            font-family: Monoton;
            color: #fff;
            font-size: 5em;
            box-sizing:inherit;
            display: block;
            color: #01D7B7;
        }
        .Link:hover + .proyectos-bckg{
            display: block;
            margin-left: 20vw;
            margin-top: 37vh;
            position: absolute;
            top: 0px;
            bottom: 0px;
            right: 0px;
            left: 0px;
            opacity: 0.2;
            z-index: -200;
            font-family: Monoton;
            color: #fff;
            font-size: 5em;
            box-sizing:inherit;
            display: block;
            color: #01D7B7;
        }
        .Link:hover + .contacto-bckg{
            display: block;
            margin-left: 21.5vw;
            margin-top: 37vh;
            position: absolute;
            top: 0px;
            bottom: 0px;
            right: 0px;
            left: 0px;
            opacity: 0.2;
            z-index: -200;
            font-family: Monoton;
            color: #fff;
            font-size: 5em;
            box-sizing:inherit;
            display: block;
            color: #01D7B7;
        }

    }
}

@media (max-width: 1050px){
    .Links-header{
        margin-left: -4em;
        width: 100%;
    }
    .Link{
        width: 100%;
        .contacto-bckg{
            display: none;
        }
        .proyectos-bckg{
            display: none;
        }
        .habilidades-bckg{
            display: none;
        }
        .acerca-bckg{
            display: none;
        }
        .inicio-bckg{
            display: none;
        }
    }
}

@media screen and (max-width: 770px){
    .Links-header{
        margin-left: -8em;
    }
    .BurgerMenu{
        width: 10%;
        height: 80%;
        margin-top: 1.5em;
        margin-right: 0.8em;
    }
}

@media (max-width: 500px){
    .bars-menu{
        margin-right: 1em;
    }
    .Links-header{
        margin-left: -13em;
        width: 100%;
    }
    .Link{
        font-size: 0.6em;
    }
}

@media (max-width: 450px){
    
    .Links-header{
        margin-left: -16em;
        width: 100%;
    }
}