.BurgerMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15%;
  height: 100%;
}

.BurgerMenu .Links-header {
  display: none;
}

.BurgerMenu .close-menu {
  display: none;
}

.BurgerMenu .bars-menu {
  width: 3em;
  height: 3em;
}

.BurgerMenu .bars-menu:hover {
  cursor: pointer;
  color: #fff;
  -webkit-transform: scale(1.1, 1.3);
          transform: scale(1.1, 1.3);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.BurgerMenu .bars-menu:active {
  color: #fff;
  -webkit-transform: scale3d(1, 0.2, 1);
          transform: scale3d(1, 0.2, 1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@-webkit-keyframes down {
  0% {
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
  10% {
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
  30% {
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
  40% {
    -webkit-transform: translateY(-70vh);
            transform: translateY(-70vh);
  }
  50% {
    -webkit-transform: translateY(-60vh);
            transform: translateY(-60vh);
  }
  60% {
    -webkit-transform: translateY(-50vh);
            transform: translateY(-50vh);
  }
  70% {
    -webkit-transform: translateY(-40vh);
            transform: translateY(-40vh);
  }
  80% {
    -webkit-transform: translateY(-30vh);
            transform: translateY(-30vh);
  }
  90% {
    -webkit-transform: translateY(-15vh);
            transform: translateY(-15vh);
  }
  100% {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
  }
}

@keyframes down {
  0% {
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
  10% {
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
  30% {
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
  40% {
    -webkit-transform: translateY(-70vh);
            transform: translateY(-70vh);
  }
  50% {
    -webkit-transform: translateY(-60vh);
            transform: translateY(-60vh);
  }
  60% {
    -webkit-transform: translateY(-50vh);
            transform: translateY(-50vh);
  }
  70% {
    -webkit-transform: translateY(-40vh);
            transform: translateY(-40vh);
  }
  80% {
    -webkit-transform: translateY(-30vh);
            transform: translateY(-30vh);
  }
  90% {
    -webkit-transform: translateY(-15vh);
            transform: translateY(-15vh);
  }
  100% {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
  }
}

.menu-extended {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(160deg, #0a162b 0%, #18092e 100%, #1af7aa 100%);
  z-index: 100;
  -webkit-animation: down 0.5s;
          animation: down 0.5s;
  overflow: hidden;
}

.menu-extended .bars-menu {
  display: none;
}

.menu-extended .close-menu {
  width: 8%;
  height: 8%;
  position: absolute;
  top: 0;
  right: 0;
  margin: 1.2em 1.8em 0 0;
}

.menu-extended .close-menu:hover {
  cursor: pointer;
  color: #fff;
  -webkit-transform: scale(1.1, 1.2);
          transform: scale(1.1, 1.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu-extended .close-menu:active {
  color: #fff;
  -webkit-transform: scale(0.3, 0.3);
          transform: scale(0.3, 0.3);
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.menu-extended .Links-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 70vh;
  text-decoration: none;
  list-style: none;
  margin-right: -5%;
  font-size: 1.4em;
  text-align: left;
}

.menu-extended .Links-header .Link {
  text-decoration: none;
  list-style: none;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 90%;
  font-size: 1em;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-left: 17em;
}

.menu-extended .Links-header .inicio-bckg {
  display: none;
  position: absolute;
  height: 15vh;
}

.menu-extended .Links-header .acerca-bckg {
  display: none;
  position: absolute;
  height: 15vh;
}

.menu-extended .Links-header .habilidades-bckg {
  display: none;
  position: absolute;
  height: 15vh;
}

.menu-extended .Links-header .proyectos-bckg {
  display: none;
  position: absolute;
  height: 15vh;
}

.menu-extended .Links-header .contacto-bckg {
  display: none;
  position: absolute;
  height: 15vh;
}

.menu-extended .Links-header .Link:hover {
  color: #fff;
  cursor: pointer;
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.menu-extended .Links-header .Link:hover + .inicio-bckg {
  display: block;
  margin-left: 35vw;
  margin-top: 37vh;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  opacity: 0.2;
  z-index: -200;
  font-family: Monoton;
  color: #fff;
  font-size: 5em;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  display: block;
  color: #01D7B7;
}

.menu-extended .Links-header .Link:hover + .acerca-bckg {
  display: block;
  margin-left: 15vw;
  margin-top: 37vh;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  opacity: 0.2;
  z-index: -200;
  font-family: Monoton;
  color: #fff;
  font-size: 5em;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  display: block;
  color: #01D7B7;
}

.menu-extended .Links-header .Link:hover + .habilidades-bckg {
  display: block;
  margin-left: 15vw;
  margin-top: 37vh;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  opacity: 0.2;
  z-index: -200;
  font-family: Monoton;
  color: #fff;
  font-size: 5em;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  display: block;
  color: #01D7B7;
}

.menu-extended .Links-header .Link:hover + .proyectos-bckg {
  display: block;
  margin-left: 20vw;
  margin-top: 37vh;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  opacity: 0.2;
  z-index: -200;
  font-family: Monoton;
  color: #fff;
  font-size: 5em;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  display: block;
  color: #01D7B7;
}

.menu-extended .Links-header .Link:hover + .contacto-bckg {
  display: block;
  margin-left: 21.5vw;
  margin-top: 37vh;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  opacity: 0.2;
  z-index: -200;
  font-family: Monoton;
  color: #fff;
  font-size: 5em;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  display: block;
  color: #01D7B7;
}

@media (max-width: 1050px) {
  .Links-header {
    margin-left: -4em;
    width: 100%;
  }
  .Link {
    width: 100%;
  }
  .Link .contacto-bckg {
    display: none;
  }
  .Link .proyectos-bckg {
    display: none;
  }
  .Link .habilidades-bckg {
    display: none;
  }
  .Link .acerca-bckg {
    display: none;
  }
  .Link .inicio-bckg {
    display: none;
  }
}

@media screen and (max-width: 770px) {
  .Links-header {
    margin-left: -8em;
  }
  .BurgerMenu {
    width: 10%;
    height: 80%;
    margin-top: 1.5em;
    margin-right: 0.8em;
  }
}

@media (max-width: 500px) {
  .bars-menu {
    margin-right: 1em;
  }
  .Links-header {
    margin-left: -13em;
    width: 100%;
  }
  .Link {
    font-size: 0.6em;
  }
}

@media (max-width: 450px) {
  .Links-header {
    margin-left: -16em;
    width: 100%;
  }
}
/*# sourceMappingURL=BurgerMenu.css.map */